@mixin defaultText($fSize: 0.875rem) {
  font-size: $fSize;
}
@mixin titleText($fSize: 2rem, $weight: bold) {
  font-size: $fSize;
  font-weight: $weight;
  text-shadow: -1px 4px 2px rgba(0, 0, 0, 0.2);
}
@mixin menuText($fSize: 1.5rem, $weight: bold) {
  font-size: $fSize;
  font-weight: $weight;
}

// $dark-gray: #3333;
$light-gray: #737373;
$white: #ffffff;
