@mixin defaultText($fSize: 0.875rem) {
  font-size: $fSize;
  color: $dark-gray;
  line-height: 200%;
}
@mixin titleText($fSize: 2rem, $weight: bold) {
  font-size: $fSize;
  font-weight: $weight;
  text-shadow: -1px 4px 2px rgba(0, 0, 0, 0.2);
  color: $black;
}
@mixin menuText($fSize: 1.25rem, $weight: bold) {
  font-size: $fSize;
  font-weight: $weight;
  color: $black;
}

$black: black;
$dark-gray: #3c3c3c;
$light-gray: #808080;
$white: #ffffff;
